<div class="row">

    <div class="col-md-12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itens; let i = index;">
                    <td>{{ item.title }}</td>
                    <td>{{ item.qtd }}</td>
                    <td><fa-icon [icon]="faTrash" class="pointer-cursor-icon"></fa-icon></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
