.pointer-cursor-icon{
  cursor: pointer;
}


.table-icon{
  font-size: 24px !important;
}


.red-icon{
  color: red;
}

.green-icon{
  color: green;
}


.green-line{
  background-color: #d4f1dc !important;
  text-decoration: line-through;
  color: #777777;;
}
