<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <app-add-compra (OnIsSaved)="onItemAdd($event)"></app-add-compra>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row mt-3">

    <div class="col-md-12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items; let i = index;">
                    <td>{{ item.tittle }}</td>
                    <td>{{ item.qtd }}</td>
                    <td><fa-icon [icon]="faTrash" class="pointer-cursor-icon" (click)="deleteItem(item.id)"></fa-icon></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
