<div class="container">
    <div class="row">
        <div class="col-md-4">
            <input type="text" name="tittle" id="tittle" class="form-control" value="" placeholder="Nome do Item"
                   [formControl]="tittle">
        </div>
        <div class="col-md-4">
            <input type="number" name="qtd" id="qtd" class="form-control" value="" placeholder="Quantidade"
            [formControl]="qtd">
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary" (click)="saveItem()">Salvar</button>
        </div>
    </div>
</div>
